main {
    width: 80%;
    max-width:1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size:.75rem;
    font-style: italic;
}
p { 
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}
p.callout {
    font-size: 2.3rem;
    line-height: auto;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top:0;
}

#row1 p,
#row3 p {
    margin-left: calc(100% * 1/6);
}

#row11 {
    margin-left:calc(100% *6/6);

}


#row13 {
    margin-left: calc(100% *5/6);
    font-size: .9rem;
    line-height: 2.5rem;
    width: 50%;}

    #row12{
    margin-left: calc(100% *4/6);
font-size: .9rem;
    line-height: 2.5rem;
    width: 50%;}

    /* ****************************************************** */
    /* CSS For index2 */
    /* ****************************************************** */

    /*inherit the baseline main code above and add to it */
    body#secondlayout main {
        display: grid;
        grid-template-columns: repeat (6, auto);
        grid-template-rows: repeat (13, auto);
        grid-template-areas:
        'title title title title title title'
        '. p1 p1 . . .'
        'p2 p2 . . c1 c1'
        '. p3 p3 . . .'
        'p4 p4 . . . .'
        '. p5 p5 . c2 c2'
        'p6 p6 p6 . . .'
        'p7 p7 p7 . . .'
        '. p8 p8 . c3 c3'
        'p9 p9 . . . .'
        'p10 p10 . . c4 c4'
        '. p11 p11 p11 . .'
        '. p12 p12 p12 . .';

    }
#secondLayout #titleRow { grid-area: title;}
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para1 { grid-area: p2; }
#secondLayout #para1 { grid-area: p3; }
#secondLayout #para1 { grid-area: p4; }
#secondLayout #para1 { grid-area: p5; }
#secondLayout #para1 { grid-area: p6; }
#secondLayout #para1 { grid-area: p7; }
#secondLayout #para1 { grid-area: p8; }
#secondLayout #para1 { grid-area: p9; }
#secondLayout #para1 { grid-area: p10; }
#secondLayout #para1 { grid-area: p11; }
#secondLayout #callout1 { grid-area: c1;}
#secondLayout #callout2 { grid-area: c2;}
#secondLayout #callout3 { grid-area: c3;}
#secondLayout #callout4 { grid-area: c4;}