/* mobile-first design for Pacific Rhododenron Layout */

*{
    box-sizing: border-box;
    font-family: Arial
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 10vw;
    height: 100vh;
}

#rhodo1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("rhodo1.jpeg");
    background-size: cover;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
}

#rhodo02 {
    max-width: 60%;
    height: auto;
    background-image: url("rhodo2.jpeg");
    background-size: cover;
}

#title {
    text-align: center;
}

@media screen and (orientation: landscape) {

    #rhodo1 {
        width: 50vw;
    }

    #rhodieTitle {
    width: 50vw;
    left: 50vw;
    background-color: #FFE9EC
}

    #rhodieTitle h1 {
        width: 45vw;
        color: black;
    }
}
#secondLayout main {
    display: grid
;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        'title title title title title title'
        '. p1 p1 . . .'
        'p2 p2 . . c1 c1'
        '. p3 p3 . . .'
        'p4 p4 . . . .'
        '. p5 p5 . c2 c2'
        ;
}

#secondLayout #titleRow { grid-area: title;}
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para2 { grid-area: p2; }
#secondLayout #para3 { grid-area: p3; }
#secondLayout #para4 { grid-area: p4; }
#secondLayout #para5 { grid-area: p5; }