/* mobile-first design for Pacific Rhododenron Layout */

*{
    box-sizing: border-box;
    font-family: Arial
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 10vw;
    height: 100vh;
}

#rhodo1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("rhodo1.jpeg");
    background-size: cover;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
}
@media screen and (orientation: landscape) {

    #rhodo1 {
        width: 50vw;
    }
    
    #rhodieTitle {
    width: 50vw;
    left: 50vw;
    background-color:#333
}

    #rhodieTitle h1 {
        width: 45vw;
    }
}